services:
    sut:
        container_name: test-bench
        image: ${IMAGE_TAG}
        environment:
            TEST_ADDR: dmarc-srg
        volumes:
            - ./test.sh:/test.sh:ro
        entrypoint: ["/test.sh"]
        depends_on:
            dmarc-srg:
                condition: service_healthy

    dmarc-srg:
        image: ${IMAGE_TAG}
        container_name: dmarc-srg
        user: application
        healthcheck:
            test:
                [
                    "CMD",
                    "curl",
                    "-s",
                    "--fail",
                    "http://127.0.0.1/.nginx/status",
                ]
            start_period: 5s
            interval: 15s
            timeout: 1s
        environment:
            DB_HOST: $DMARC_SRG_DB_HOST
            DB_NAME: $DMARC_SRG_DB_NAME
            DB_USER: $DMARC_SRG_DB_USER
            DB_PASSWORD: $DMARC_SRG_DB_PASSWORD
            IMAP_HOST: $DMARC_SRG_IMAP_HOST
            IMAP_USER: $DMARC_SRG_IMAP_USER
            IMAP_PASSWORD: $DMARC_SRG_IMAP_PASSWORD
            UI_PASSWORD: public
            MAILBOX_NAME: DMARC
            MAILBOXES_WHEN_DONE_MOVE_TO: DMARC-PROCESSED.Aggregate
            MAILBOXES_WHEN_FAILED_MOVE_TO: DMARC-PROCESSED.Invalid
            # Directories are not enabled
            #DIRECTORIES_WHEN_DONE_MOVE_TO: DMARC-PROCESSED.Aggregate
            #DIRECTORIES_WHEN_FAILED_MOVE_TO: DMARC-PROCESSED.Invalid
        restart: on-failure:2
