name: Publish Docker image

permissions:
    contents: read

on:
    workflow_dispatch:
    release:
        types: [published]

jobs:
    push_to_registry:
        name: Push Docker image to Docker Hub
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the repository
              uses: actions/checkout@v6
            # https://github.com/docker/setup-qemu-action
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            # https://github.com/docker/setup-buildx-action
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Login to DockerHub
              uses: docker/login-action@v3
              with:
                  registry: docker.io
                  username: ${{ secrets.DOCKER_REPOSITORY_LOGIN }}
                  password: ${{ secrets.DOCKER_REPOSITORY_PASSWORD }}

            - name: Build and push image
              run: make docker-build
              env:
                  DOCKER_BUILDKIT: 1
                  PLATFORM: linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/386,linux/ppc64le,linux/amd64,linux/riscv64
                  IMAGE_TAG: docker.io/botsudo/docker-dmarc-srg
                  ACTION: push

            - name: Test image
              run: make docker-test
              env:
                  IMAGE_TAG: docker.io/botsudo/docker-dmarc-srg
